body{
    background:gray;
    color: olivedrab;
    font-weight: 600
}
.img{
    background-image: url(../images/1.jpg);
    height:400px;
    width: 400px;
    border-radius: 50%;
    transform: all 1s;
}
div>button{
    border-radius:5px;
}